#page5 {
  background-image: url("../image/endpage.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
  background-attachment: fixed;
  background-position: center center;
}
