#page5 {
  background-image: url("../image/endpage.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
  background-attachment: fixed;
  background-position: center center;
}

#linechart2 {
  margin-left: 24%;
}

.linecharttooltip2 {
  position: absolute;
  width: 130px;
}

.linecharttooltip2 p {
  font-size: 14px;
  background-color: white;
  opacity:0.8;
  border: white;
  line-height: 30px;
  font-style: italic;
  text-align: center;

}

.endlinenamelabel {
  font-size: 15px;
  font-style: italic;
  opacity: 0.5;
}

.endlinenamelabel.focused {
  opacity：1;
  width: 5px;
}

#page5 h2 {
  font-family: 'Bangers', sans-serif;
  position: relative;
  z-index: 1000;
  /*margin-top: -5%;*/
  margin-left: 27%;
  width: 50%;
  line-height: 40px;
  margin-bottom: 2%;
}

#back {
  /*margin-top: 5%;*/
  font-family: 'Josefin Slab', sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-align: left;

}

#page5 p {
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  margin-left: 26%;
  width: 50%;
  text-align: left;
  /*font-style: italic;*/
}

#page5 h3 {
  font-family: 'Kaushan Script', sans-serif;
  text-align: center;
  margin-left: -1%;
  font-size: 28px;
  margin-left: 24%;
  width: 50%;
  color: red;
}
#page6 {
  height: 100px;
  width: 102%;
  background-color: white;
  margin-top: -1%;
}

#page6 p {
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  line-height: 10px;
}
